html{
    width: 25rem;
    height: 20rem;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Ariel", sans-serif;
}

body{
    color: #fff;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup{
    width: 25rem;
    min-height: 20rem;
    transition: all .3s ease-in-out;
    overflow: hidden;
    border-radius: 10px;
}

.popup.settings {
    width: 25rem;
    min-height: 25rem;
}

nav {
    background-color: #38444c;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
    height: 2rem;
    margin-bottom: .5rem;
    padding: .5rem;
    display: flex;
    border-radius: 10px;
}

nav h1 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1em;
}

nav button {
    height: inherit;
    width: inherit;
    cursor: pointer;
    background-color: #fff;
    border: 0;
    border-radius: 10px;
    outline: 0;
    margin: 0;
    padding: 5px;
    font-size: 16px;
}

nav .flex {
    flex: 1;
}

.title {
    text-align: center;
    background-color: #fff;
    padding: .5rem;
    font-size: 1.3rem
}

#myH1{
    font-size: 4rem;
    font-family: "Ariel", sans-serif;
    color: #fff;
}

.container__timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
    margin-bottom: 1px;
}

#display{
    font-size: 3rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
}

div button {
    float: left;
}

#controls button{
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color: hsl(115, 100%, 40%);
}
#startBtn:hover{
    background-color: hsl(115, 100%, 30%);
}

#stopBtn{
    background-color: hsl(10, 90%, 50%);
}
#stopBtn:hover{
    background-color: hsl(10, 90%, 40%);
}

#resetBtn{
    background-color: hsl(0, 0%, 50%);
}
#resetBtn:hover{
    background-color: hsl(0, 0%, 40%);
}

#breakBtn{
    background-color: hsl(291, 100%, 37%);
}
#breakBtn:hover{
    background-color: hsl(291, 100%, 27%);
}

.streak-section{
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: .8rem;
    font-weight: 700;
    display: flex
}

#current-streak-message,#best-streak-message {
    text-align: center;
    font-size: 1rem;
}

.streak {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex
}

